body {
  margin: 0;
}

#main {
  display: flex; 
  flex-direction: row;
}
#content {
  width: 1200px;
}

#panel {
  flex: 1;
  background: gold;
  height: 100vh;
  overflow: auto;
}
#panel .item {
  background: white;
  display: inline-block;
  margin: 5px;
  padding: 4px 6px;
  border-radius: 6px;
  border: 2px solid #000;
  font-weight: bold;
  cursor: pointer;
}
#panel .item:hover {
  color: red;
}
#panel .searchbox {
  position: fixed;
  width: 100%;
  background: gold;
}
#panel  .country-list{
  margin-top:50px;
}

#panel .searchbox input{
  height: 30px;
  width: 80%;
  margin: 10px 4px;
}

